.cart {
  padding: 20px;
  border: solid 1px #ddd;
  background-color: #f9f9f9;
}

.cartable {
  width: 100%;
  margin-bottom: 20px;
}

.cartable th,
.cartable td {
  padding: 10px;
  border: solid 1px #ddd;
  text-align: left;
}
.button {
  margin: 10px;
}

.button:hover {
  background-color: black;
  color: azure;
}
