/* Estilo para el contenedor #root */
#root {
  background-image: url("./assets/biblioteca.jpeg"); /* Asegúrate de usar url() */
  background-size: cover; /* Asegura que la imagen de fondo cubra todo el contenedor */
  background-position: center; /* Centra la imagen de fondo */
  background-repeat: no-repeat; /* No repite la imagen de fondo */
  max-width: 100%;
  width: 100%;
  min-height: 100vh; /* Usa min-height en lugar de height */
  display: flex;
  flex-direction: column; /* Cambia a columna para un mejor flujo */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  margin-top: 0;
  padding: 0;
}

.app {
  width: 100%; /* Cambia a 100% */
  max-width: 1200px; /* Opcional: establece un ancho máximo */
  padding: 0 15px; /* Añade padding para evitar que el contenido toque los bordes */
}

/* Estilos adicionales */
.active {
  color: red;
}

.link {
  margin: 10px;
}

.read-the-docs {
  color: #888;
}
