#root {
  max-width: 100%;
  width: 80%;
  margin: auto auto;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-color: #c71c1c;
  border-radius: 0.5px;
}

.active {
  color: red;
}

.link {
  margin: 10px;
}

.read-the-docs {
  color: #888;
}

.delete {
  background-color: rgb(167, 18, 18);
  color: white;
  font-size: 10px;
}

.edit {
  background-color: rgb(20, 138, 211);
  color: white;
  font-size: 10px;
}
